#!/bin/sh

set -e

. /usr/share/debconf/confmodule

CONFFILE="/etc/default/confluence"

if [ -e "${CONFFILE}" ]
then
	. ${CONFFILE} || true

	if [ -n "${CONFLUENCE_USER}" ]; then
		db_set confluence/username "${CONFLUENCE_USER}"
	fi

	if [ -n "${CONFLUENCE_GROUP}" ]; then
		db_set confluence/groupname "${CONFLUENCE_GROUP}"
	fi

fi

db_input low confluence/username || true
db_input low confluence/groupname || true
db_go

db_stop
