# User and group to run confluence as.  Leaving them empty
# will cause it to default to confluence
CONFLUENCE_USER=confluence
CONFLUENCE_GROUP=confluence

# Unset LC_ALL to prevent user environment executing the init script from
# influencing servlet behavior.  See Debian bug #645221
unset LC_ALL
