#!/bin/sh

set -e

. /usr/share/debconf/confmodule

CONFFILE="/etc/default/jira"

if [ -e "${CONFFILE}" ]
then
	. ${CONFFILE} || true

	if [ -n "${JIRA_USER}" ]; then
		db_set jira/username "${JIRA_USER}"
	fi

	if [ -n "${JIRA_GROUP}" ]; then
		db_set jira/groupname "${JIRA_GROUP}"
	fi

fi

db_input low jira/username || true
db_input low jira/groupname || true
db_go

db_stop
